services:
  postgres:
    image: postgres:18.0-alpine
    container_name: teamforge-db
    ports:
      - "5444:5432"
    environment:
      - POSTGRES_DB=teamforge
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: